$tipo-letra: 'Open Sans', sans-serif;
$color-boton: #2EAFFA;
$color-letra-boton: white;
$color-footer-principal: #142e3f;
$color-footer-secundario: #091722;
$color-span-footer: #01acfa;
$color-letra-menu-footer: #acb0b9;
$imagen-header: url("../Images/indexbanner-bg3.jpg");
$imagen-header1: url("../Images/indexbanner-bg2.jpg");
$color-datos-tabla1: #12d3fe;
$color-datos-tabla2: #ffe9b1;
$color-datos-tabla3: #ffb494;
$color-datos-tabla4: #ffc3ae;